<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectToStepDB" connectionString="Data Source=194.44.93.225;Initial Catalog=Exam_Holubev;User ID=test;Password='Qwerty-1';TrustServerCertificate=True;" providerName="System.Data.SqlClient;" />
  </connectionStrings>
</configuration>